.container {
	display: flex;
    justify-content: center;
    color: white;
}

.box {
    align-items: center;
    align-self: baseline;
    justify-content: center;
    
}

.box1 {
    background: rgb(15, 158, 15);
    flex: 1;
    height: 60%;
    font-size: 200%;
}

.box2 {
    background: rgb(15, 108, 170);
    flex: 2;
    height: 70%;
    font-size: 400%;
}

.box3 {
    background: rgb(29, 50, 58);
    flex: 3;
    height: 100%;
    font-size: 600%;
}

.box4 {
    background: rgb(107, 25, 117);
    flex: 2;
    height: 70%;
    font-size: 400%;
}

.box5 {
    background: rgb(172, 95, 24);
    flex: 1;
    height: 60%;
    font-size: 200%;
}
